.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(114, 114, 114, 0.5); /* Sfondo semi-trasparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: rgb(255, 255, 255) !important; /* Colore bianco */
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.modal-forms {
    display: flex;
    justify-content: space-between;
}

.modal-forms > * {
    width: 48%;
}

.toggle-button{
    padding: 10px; /* Padding per il bottone */
    background-color: #8d0606; /* Colore di sfondo blu */
    color: white; /* Colore del testo */
    border: none; /* Nessun bordo */
    border-radius: 5px; /* Bordo arrotondato */
    font-size: 16px; /* Dimensione del testo */
    cursor: pointer; /* Cambia il cursore al passaggio */
}

.toggle-button:hover{
    background-color: #8a0000;
}