/* Navbar.css */

.navbar {
    background-color: #8d0606; /* Bootstrap primary color */
    padding: 10px 20px; /* Padding */
    position: sticky; /* Enable sticky positioning */
    top: 0; /* Stick to the top of the viewport */
    z-index: 1000; /* Ensure it is above other content */
}

.navbar-container {
    display: flex;
    justify-content: space-between; /* Space between logo and menu */
    align-items: center; /* Center items vertically */
}

.navbar-logo {
    color: white; /* Logo color */
    font-size: 24px; /* Logo font size */
    text-decoration: none; /* Remove underline */
}

.navbar-menu {
    list-style: none; /* Remove bullets */
    display: flex; /* Display items in a row */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    justify-content: center; /* Center the list items horizontally */
    flex-grow: 1; /* Allow menu to take available space */
}

.navbar-menu li {
    margin-left: 20px; /* Space between menu items */
}

.navbar-link {
    color: white; /* Link color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s; /* Smooth color transition */
}

.navbar-link:hover {
    color: #eeadad; /* Darker blue on hover */
}
