/* Stile generale del navbar */
.navbar {
    background-color: #8d0606; /* Colore di sfondo */
    padding: 10px 20px;
    position: sticky; /* Resta fisso in cima quando si scorre */
    top: 0;
    z-index: 1000; /* Sopra gli altri elementi */
    width: 100%;
}

/* Contenitore del navbar */
.navbar-container {
    display: flex;
    justify-content: space-between; /* Spaziatura tra logo, menu e pulsante */
    align-items: center; /* Allinea verticalmente gli elementi */
    max-width: 1200px; /* Larghezza massima */
    margin: 0 auto; /* Centra il contenuto */
}

/* Logo a sinistra */
.navbar-logo {
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 100px;
    position: absolute;
    left: 50px;
}

/* Menu centrale */
.navbar-menu {
    list-style: none;
    display: flex;
    gap: 50px; /* Spazio tra i link */
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    list-style: none;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.navbar-link:hover {
    color: #ffd700; /* Colore del testo al passaggio */
}

/* Pulsante Order Now a destra */
.order-now-btn {
    position: absolute;
    right: 10px;
    height: 40px;
    width: 180px;
    padding: 10px;
    background-color: white;
    color: #8d0606;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra orizzontalmente */
}

.order-now-btn:hover {
    background-color: #660606;
    color: white;
    
}
